{% extends "layout.html" %}
{% block title %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href={{ url_for("scorecard") }}>Scorecard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <p><h1>Dart World</h1></p>
    <p>Please Enter Your Informations To Start The Play!</p>
    <br>
{% endblock %}
{% block content %}

    <form action="#" method="POST">
        <div class="mb-3 row">
            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Player_A Name: </label>
            <input type="text" class="col-sm-5 col-form-label" id="exampleFormControlInput1" name="p1">
        </div>
        <div class="mb-3 row">
            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Player_B Name: </label>
            <input type="text" class="col-sm-5 col-form-label" id="exampleFormControlInput1" name="p2">
        </div>
        <input class="btn btn-primary" type="submit" value="Start">
    </form>
{% endblock %}