{% extends "layout.html" %}
{% block title %}
    <p><h1>Welcome To The Darts World!</h1></p>
    <br>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col order-last">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ p2name }}</td>
                        </tr>
                     </tbody>
                </table>
        <br>
        {% if boolB %}
            <form action={{ url_for("player2B") }} method="POST">
                Score: <input type="number" name="sc2" required>
                <input type="submit" value="Calculate">
                <input type="hidden" name="turnB" value="2">
            </form>
        {% endif %}
        <br>
        <br>
    <div class="d-inline p-2 bg-primary text-white">Required Score: {{ scoreB }}</div>

    <!-- uncomment if we use recommend functions
    {% if bool2 %}
        {% if str1 or str2 or str3 %}
            <p>Recommended Shots: {{ str1 }} {{ str2 }} {{ str3 }}</p>
        {% endif %}
    {% endif %}
    -->

    </div>
    <div class="col">
        <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ p1name }}</td>
                        </tr>
                     </tbody>
                </table>
        <br>
        {% if boolA %}
            <form action={{ url_for("player1A") }} method="POST">
                Score: <input type="number" name="sc1" required>
                <input type="submit" value="Calculate">
                <input type="hidden" name="turnA" value="2">
             </form>
        {% endif %}
        <br>
        <br>
    <div class="d-inline p-2 bg-primary text-white">Required Score: {{ scoreA }}</div>

    <!-- uncomment if we use recommend functions
    {% if bool1 %}
        {% if str1 or str2 or str3 %}
            <p>Recommended Shots: {{ str1 }} {{ str2 }} {{ str3 }}</p>
        {% endif %}
    {% endif %}
    -->

    </div>
  </div>
</div>
{% endblock %}